<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>类别商品列表</title>
    <link href="/css/app.css" rel="stylesheet"
          th:href="@{/css/app.css}">
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet"
          th:href="@{/css/materialdesignicons.min.css}">
    <link href="/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">
    <!--对话框-->
    <!--    <link rel="stylesheet" href="/css/jquery-confirm.min.css"-->
    <!--          th:href="@{/css/jquery-confirm.min.css}">-->
    <style>
        .img_a {
            height: 290px;
        }

        .number_input {
            width: 46px;
        }
    </style>
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<!--侧面导航栏-->
<div th:replace="common/common_aside :: .layout-sidebar"></div>
<!--End 左侧导航-->

<!--头部信息-->
<div th:replace="common/common_header :: .layout-header"></div>
<!--顶部信息栏-->

<!--主页面-->
<main class="layout-content">
    <div class="container-fluid">

        <div class="row">
            <!--     视图格式选购页面     -->
            <h1 th:if="${pageInfo.list.size()==0}">该类别暂时没有商品</h1>
            <div class="card-body">
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="commodity : ${pageInfo.list}">
                    <div class="product-box-layout1">
                        <div class="item-img">
                            <a href="#" class="img_a">
                                <img th:if="${commodity.commodityImg!=null}"
                                     th:src="@{'http://qilpqdaxg.hd-bkt.clouddn.com/'+${commodity.commodityImg}}"
                                     width="600" height="300"/>
                                <img th:if="${commodity.commodityImg==null}"
                                     src="/images/nullImg.jpg" th:alt="${commodity.commodityName}"></a>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title">
                                <a href="" th:text="${commodity.commodityName}">商品名称</a></h3>
                            <ul class="entry-meta">
                                <li><i class="far fa-clock"></i>
                                    <span th:text="${commodity.commodityParameter}">商品参数</span></li>
                                <li><i class="fas fa-map-marker-alt"></i>
                                    <span th:text="${commodity.supplier.supplierAddress}">商品产地</span></li>
                            </ul>
                            <div class="item-price">
                                <span class="currency-symbol" th:text="'$'+${commodity.commoditySell}">商品价格</span>
                            </div>
                            <font class="text-danger"
                                  th:if="${commodity.commodityStock==0}">已售完</font>
                            <div class="btn-group btn-group-round" th:if="${commodity.commodityStock}>0">
                                <button class="btn btn-default num_cut disabled">-</button>
                                <input type="hidden" th:value="${commodity.commodityId}" class="commodity_id">
                                <input type="hidden" th:value="${commodity.commodityStock}" class="commodity_stock">
                                <input type="text" class="btn btn-default number_input" value="0">
                                <button class="btn btn-default num_add">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination">
                    <li th:class="${pageInfo.pageNum==1}?'disabled':''">
                        <a href="#"
                           th:href="@{/commodity/findCommodityByType(page=1,size=12,commodityTypeId=${pageType},typeName=${typeName})}">«</a>
                    </li>
                    <li th:class="${pageInfo.pageNum==1}?'disabled':''">
                        <a href="#"
                           th:href="@{/commodity/findCommodityByType(page=${pageInfo.pageNum !=1}?${pageInfo.pageNum -1}:1,size=12,
                           commodityTypeId=${pageType},typeName=${typeName})}">上一页</a>
                    </li>
                    <li th:each="pageNums :${#numbers.sequence(1,pageInfo.pages)}"
                        th:class="${pageNums==pageInfo.pageNum}?'active'">
                        <input type="hidden" th:value="${pageNums}">
                        <input type="hidden" th:value="${pageInfo.pageNum}">
                        <a href="#" th:text="${pageNums}"
                           th:href="@{/commodity/findCommodityByType(page=${pageNums},size=12,commodityTypeId=${pageType},typeName=${typeName})}">1</a>
                    </li>
                    <li th:class="${pageInfo.pageNum==pageInfo.pages}?'disabled':''">
                        <a href="#"
                           th:href="@{/commodity/findCommodityByType(page=${pageInfo.pageNum !=pageInfo.pages}?${pageInfo.pageNum +1}:${pageInfo.pages},size=12,
                           commodityTypeId=${pageType},typeName=${typeName})}"
                        >下一页</a>
                    </li>
                    <li th:class="${pageInfo.pageNum==pageInfo.pages}?'disabled':''">
                        <a href="#"
                           th:href="@{/commodity/findCommodityByType(page=${pageInfo.pages},size=12,commodityTypeId=${pageType},typeName=${typeName})}">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!--主页面-->

</body>
<script type="text/javascript" src="/js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"
        th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="/js/main.js"
        th:src="@{/js/main.js}"></script>
<!--图表插件-->
<script type="text/javascript" src="/js/Chart.js"
        th:href="@{/js/Chart.js}"></script>
<!--对话框-->
<!--<script type="text/javascript" src="/js/jquery-confirm.min.js"-->
<!--        th:src="@{/js/jquery-confirm.min.js}"></script>-->
<script>
    $(function () {
        //当前标签页高亮
        $(".layout-sidebar").find(".active").removeClass("active");
        $(".commodity_type").addClass("active");

        //当前页面导航栏下拉
        $navHasSubnav = $(".commodity_type").parent().parent();
        $navHasSubnav.siblings().find('.nav-subnav:visible').slideUp(500).parent().removeClass('open');
        $navHasSubnav.toggleClass('open');
        $(".commodity_type").siblings().find('.nav-subnav:visible').slideUp(500).parent().removeClass('open');
        $(".commodity_type").toggleClass('open');

        //调整数字框大小
        function change_size() {
            var number_input_size = 46;
            for (var i = 0; i < $(".number_input").length; i++) {
                if ($(".number_input").eq(i).val() != undefined) {
                    number_input_size = parseInt($(".number_input").eq(i).val().length) * 10 + 36;
                    $(".number_input").eq(i).css("width", number_input_size + "px");
                }
            }
        }

        //调整商品的选择状态
        $.ajax({
            url: "/shopCar/getCommodityType",
            type: "get",
            dataType: "json"
            , success: function (data) {
                if (data.result != "0") {
                    var list = data.result;
                    for (var i = 0; i < list.length; i++) {
                        for (var j = 0; j < $(".commodity_id").length; j++) {
                            if (list[i].commodityId == $(".commodity_id").eq(j).val()) {//进入选购页面时调整已选购商品的按钮状态
                                var stock = list[i].commodity.commodityStock;
                                var num = list[i].commodityQuantity;
                                var parent = $(".commodity_id").eq(j).parent();
                                parent.find(".num_cut").removeClass("disabled");
                                parent.find(".number_input").val(num)
                                if (stock == num) {
                                    parent.find(".num_add").addClass("disabled");
                                }
                            }
                        }
                    }
                    change_size();
                }
            }
        })

        function change_chop_car(c_id, c_num) {
            $.ajax({
                url: "/shopCar/addCarCommodity",
                type: "post",
                dataType: "json",
                data: {
                    c_id: c_id,
                    num: c_num
                }, success: function (data) {
                    $(".badge").html(data.result)
                }
            })
        }

        //动态调整数字框大小
        $('.number_input').bind('input propertychange', function () {
            var $this = $(this);
            var text_length = $this.val().length;//获取当前文本框的长度
            if (text_length == "") {
                var current_width = 46;//该16是改变前的宽度除以当前字符串的长度,算出每个字符的长度
            } else {
                var current_width = parseInt(text_length) * 10 + 36;//该16是改变前的宽度除以当前字符串的长度,算出每个字符的长度
            }
            $this.css("width", current_width + "px");
        });
        //减少商品
        $(".num_cut").click(function () {
            var parent = $(this).parent();
            var c_id = parent.find(".commodity_id").val();
            var $num = parent.find(".number_input");
            parent.find(".num_add").removeClass("disabled")
            if ($num.val() >= 1) {
                //执行
                var num = parseInt($num.val()) - 1;
                $num.val(num);
                //修改信息
                change_chop_car(c_id, $num.val())
            }
            if ($num.val() <= 0) {
                $(this).addClass("disabled")                                        //修改调整后的按钮状态
            }
        })
        //添加商品
        $(".num_add").click(function () {
            var parent = $(this).parent();
            var $num = parent.find(".number_input");
            var c_id = parent.find(".commodity_id").val();
            var stock = parseInt(parent.find(".commodity_stock").val());
            if ($num.val() <= stock - 1) {
                parent.find(".num_cut").removeClass("disabled")                                        //修改调整后的按钮状态
                var num = parseInt($num.val()) + 1;
                if (num == stock) {
                    $num.val(stock)
                    $(this).addClass("disabled");
                } else if (num > 999999999999999) {
                    $num.val(999999999999999);
                } else {
                    $num.val(num);
                }
                //修改信息
                change_chop_car(c_id, $num.val());
            }
        })
        //数字框
        $(".number_input").blur(function () {
            var $num = $(this);
            var parent = $(this).parent();
            var c_id = parent.find(".commodity_id").val();
            var num = $num.val();
            if (num.length > 16) {
                $num.val(999999999999999)
            } else if (num == "" || num == null || num.length == 0 || num == NaN) {
                $num.val(0)
            } else {
                $num.val(parseInt(num))
            }
            change_chop_car(c_id, $num.val());
        })
        //修改数字框
        $(".number_input").bind('input propertychange', function () {
            var parent = $(this).parent();
            var c_id = parent.find(".commodity_id").val();
            var stock = parseInt(parent.find(".commodity_stock").val());//当前商品库存
            var num = $(this).val().replace(/[^0-9]/ig, "");//去掉特殊字符后当前数字框的值
            if (num.length > 1) {//数字框长度大于1时去前面的0
                num = num.replace(/\b(0+)/gi, "");//去字符前的0
            }
            if (num > 999999999999999) {//超出范围时
                num = 999999999999999;
            }
            if (num > stock) {//数字大于库存时
                num = stock;
                parent.find(".num_add").addClass("disabled")
            } else if (num.length == 0) {//去字符后长度为0时
                num = 0;
                parent.find(".num_cut").addClass("disabled")
            } else {
                parent.find(".num_cut").removeClass("disabled")
                parent.find(".num_add").removeClass("disabled")
            }
            $(this).val(num);
            change_chop_car(c_id, num);
        })
    })
</script>

</html>