<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户订单查询</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet"
          th:href="@{/css/materialdesignicons.min.css}">
    <link href="/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">
    <!--对话框-->
<!--    <link rel="stylesheet" href="/css/jquery-confirm.min.css"-->
<!--          th:href="@{/css/jquery-confirm.min.css}">-->
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<!--侧面导航栏-->
<div th:replace="common/common_aside :: .layout-sidebar"></div>
<!--End 左侧导航-->

<!--头部信息-->
<div th:replace="common/common_header :: .layout-header"></div>
<!--顶部信息栏-->

<!--主页面-->
<main class="layout-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-toolbar clearfix">
                        <button type="button" class="btn btn-default"
                                onclick="javascript:history.back(-1);return false;">返 回
                        </button>
                        <form class="pull-right search-bar" method="get" action="#!" role="form">
<!--                            <div class="input-group">-->
<!--                                <div class="input-group-btn">-->
<!--                                    <input type="hidden" name="search_field" id="search-field" value="title">-->
<!--                                    <button class="btn btn-default dropdown-toggle" id="search-btn"-->
<!--                                            data-toggle="dropdown" type="button" aria-haspopup="true"-->
<!--                                            aria-expanded="false">-->
<!--                                        订单号 <span class="caret"></span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <input type="text" class="form-control find_keyword" value="" name="order_keyword"-->
<!--                                       th:value="${session.vip_keyword==null}?'':${session.vip_keyword}"-->
<!--                                       placeholder="请输入订单号">-->
<!--                            </div>-->
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th>订单内容</th>
                                    <th>订单总价</th>
                                    <th>订单创建时间</th>
                                    <th>获得积分</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody th:each="order : ${pageInfo.list}">
                                <tr>
                                    <td th:text="${order.orderId}">订单编号</td>
                                    <!--                                    th:text="${order.subOrderList}"-->
                                    <td>
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>商品名称</th>
                                                <th>单价</th>
                                                <th>单位</th>
                                                <th>数量</th>
                                                <th>合计</th>
                                            </tr>
                                            <tr th:each="order_sub : ${order.subOrderList}" class="success">
                                                <td th:text="${order_sub.commodity.commodityName}">商品名称</td>
                                                <td th:text="${order_sub.commodity.commoditySell}">单价</td>
                                                <td th:text="${order_sub.commodity.commodityParameter}">单位</td>
                                                <td th:text="${order_sub.commodityQuantity}">数量</td>
                                                <td th:text="${order_sub.totalPrice}">合计</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td th:text="${order.orderPrice}">订单总价</td>
                                    <td th:text="${#dates.format(order.orderCreateTime,'yyyy-MM-dd')}">会员生日</td>
                                    <td th:text="${order.orderPrice/10}">获得积分</td>
                                    <td>
                                        <div class="btn-group">
                                            <input type="hidden" name="orderId" th:value="${order.orderId}"/>
                                            <button class="btn btn-danger btn-w-md del_btn" type="button">删除记录</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination" th:if="${pageInfo.pages>1}">
                            <li th:class="${pageInfo.pageNum==1}?'disabled':''">
                                <a href="#"
                                   th:href="@{/order/getOrderByUsername(page=1,size=10,userId=${userId})}">«</a>
                            </li>
                            <li th:class="${pageInfo.pageNum==1}?'disabled':''">
                                <a href="#"
                                   th:href="@{/order/getOrderByUsername(page=${pageInfo.pageNum !=1}?${pageInfo.pageNum -1}:1,size=10,userId=${userId})}"
                                >上一页</a>
                            </li>
                            <li th:each="pageNums :${#numbers.sequence(1,pageInfo.pages)}"
                                th:class="${pageNums==pageInfo.pageNum}?'active':''">
                                <a href="#" th:text="${pageNums}"
                                   th:href="@{/order/getOrderByUsername(page=${pageNums},size=10,userId=${userId})}">1</a>
                            </li>
                            <li th:class="${pageInfo.pageNum==pageInfo.pages}?'disabled':''">
                                <a href="#"
                                   th:href="@{/order/getOrderByUsername(page=${pageInfo.pageNum !=pageInfo.pages}?${pageInfo.pageNum +1}:${pageInfo.pages},size=10,userId=${userId})}"
                                >下一页</a>
                            </li>
                            <li th:class="${pageInfo.pageNum==pageInfo.pages}?'disabled':''">
                                <a href="#"
                                   th:href="@{/order/getOrderByUsername(page=${pageInfo.pages},size=10,userId=${userId})}">»</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
<!--主页面-->

</body>
<script type="text/javascript" src="/js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"
        th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="/js/main.js"
        th:src="@{/js/main.js}"></script>
<!--图表插件-->
<script type="text/javascript" src="/js/Chart.js"
        th:href="@{/js/Chart.js}"></script>
<!--对话框-->
<!--<script type="text/javascript" src="/js/jquery-confirm.min.js"-->
<!--        th:src="@{/js/jquery-confirm.min.js}"></script>-->
<script>
    $(function () {
        //当前标签页高亮
        $(".layout-sidebar").find(".active").removeClass("active");
        $("#user_all").addClass("active");

        var k = $("input[name=vip_keyword]").val();
        $("input[name=vip_keyword]").val("").focus().val(k);
        $(".find_keyword").bind("input", function () {
            var keyword = $(".find_keyword").val();
            $.ajax({
                url: "/user/findVipByUsername",
                type: "post",
                dataType: "json",
                data: {
                    keyword: keyword
                }, success: function (data) {
                    if (data.result == "1") {
                        window.location.href = "/user/findAllVip";
                    } else if (data.result == "0") {
                        window.location.href = "/user/toFindVipByUsername";
                    }
                }
            })
        })

        $(".del_btn").click(function () {
            var orderId=$(this).prev().val();
            $.ajax({
                url: "/order/delOrderById",
                type: "post",
                dataType: "json",
                data: {
                    orderId: orderId
                }, success: function (data) {
                    if (data.result == "1") {
                        location.reload();
                    } else if (data.result == "0") {
                        alert("删除失败")
                    }
                }
            })
        })
    })
</script>

</html>